@charset "utf-8";

html{  font-size: 100px;  }
.inner{ width: 6.90rem; height:auto; margin: 0 auto; }


.wrap{
    max-width: 7.50rem;
    min-width: 3.20rem;
    margin: 0 auto;
}
.wrap .beijing{
    background: url(../images/bg01.jpg)no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

.mengban:after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    height: 100%;
    

}
.tanchuang{

    width: 6.00rem;
    height: 5.40rem;
    background: #fff;
    border:10px solid #002870;
    border-radius:0.25rem;

    position: absolute;
    top: 2.40rem;
    left: 0.45rem;
    z-index:10;
    text-align: center;
}
.tanchuang a{
    display:block;
    font:0.40rem/0.97rem '微软雅黑';
    color: #fff;
    width: 4.33rem;
    height: 0.97rem;
    margin: 0.15rem auto;
    text-shadow:0 0 0.2em #d5a1d1,
                -0 -0 0.2em #d5a1d1;
    background: url(../images/btn01.png)no-repeat center ;
}

.tanchuang p{
    font:bold 0.40rem/0.58rem '微软雅黑';
    color: #00236c;
    
}
.tanchuang .p1{
    padding-top: 0.38rem;
}

/*header*/
.wrap header .backBox{

    height: 0.80rem;
    background:linear-gradient(#1a191f, #323733);
    position: relative;
        display:flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
}
.wrap header .backBox .a1{
    display: inline-block;
    font:0.30rem/0.80rem '微软雅黑';
    color: #fff;
    
    background: url(../images/jiantou.png) no-repeat center left;
    background-size: 0.30rem 0.30rem;
    padding-left: 0.30rem;
}
.wrap header .backBox .a2{
    display: inline-block;
    font:0.30rem/0.80rem '微软雅黑';
    color: #fff;

}
.wrap header .backBox .a3{
    display: inline-block;
    background: url(../images/gengduo.png) no-repeat center left;
    background-size: 0.51rem 0.12rem;
    padding-left: 0.51rem;

}


/*banner*/
.wrap .banner{
    text-align: center;
}
.wrap .banner img{
    width: 100%;
    height: auto;
}
.wrap .banner .img1{
    padding-top: 0.30rem;
    padding-bottom: 0.50rem;
    width: 5.09rem;
}


/*主要内容*/
.wrap .activity{
    text-align: center;
}
.wrap .activity a{
    display:block;
    font:0.40rem/0.97rem '微软雅黑';
    color: #fff;
    width: 4.33rem;
    height: 0.97rem;
    margin: 0.15rem auto;
    text-shadow:0 0 0.2em #d5a1d1,
                -0 -0 0.2em #d5a1d1;
    background: url(../images/btn01.png)no-repeat center ;
}



/*底部*/
footer{
    text-align: center;
    padding-bottom: 4.00rem;
}
footer a{
    font:0.40rem '微软雅黑';
    color: #0337a7;
    text-decoration:underline;

}

